@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using BusinessLogicalLayer;
@using Domain;
@{
    ViewData["Title"] = "Dashboard";
}
<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- Style -->
    @*<link rel="stylesheet" type="text/css" href="./css/util.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">*@

    <link href="~/css/calendar-white.css" rel="stylesheet" />
    <link href="~/css/dashboard.css" rel="stylesheet" />

    <title>Home</title>
</head>
<body>
    <main class="wrapper">
        <section>
            <div class="toolbar">
                <div class="toggle">
                    <div class="toggle__option">semana</div>
                    <div class="toggle__option toggle__option--selected">mês</div>
                </div>
                <div class="current-month">
                    @DateTime.Now.Month / @DateTime.Now.Year
                </div>
                <div class="search-input">
                    @*<input type="text" value="">
                <i class="fa fa-search"></i>*@

                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="calendar">
                <div class="calendar__header">
                    <div>seg</div>
                    <div>ter</div>
                    <div>qua</div>
                    <div>qui</div>
                    <div>sex</div>
                    <div>sab</div>
                    <div>dom</div>
                </div>
                <div class="calendar__week">
                    <div class="calendar__day day">
                        1
                    </div>
                    <div class="calendar__day day">
                        2
                    </div>
                    <div class="calendar__day day">
                        3
                    </div>
                    <div class="calendar__day day">
                        4
                    </div>
                    <div class="calendar__day day">
                        5
                    </div>
                    <div class="calendar__day day">
                        6
                    </div>
                    <div class="calendar__day day">
                        7
                    </div>
                </div>
                <div class="calendar__week">
                    <div class="calendar__day day">
                        8
                    </div>
                    <div class="calendar__day day">
                        9
                    </div>
                    <div class="calendar__day day">
                        10
                    </div>
                    <div class="calendar__day day">
                        11
                    </div>
                    <div class="calendar__day day">
                        12
                    </div>
                    <div class="calendar__day day">
                        13
                    </div>
                    <div class="calendar__day day">
                        14
                    </div>
                </div>
                <div class="calendar__week">
                    <div class="calendar__day day">
                        15
                    </div>
                    <div class="calendar__day day">16</div>
                    <div class="calendar__day day">17</div>
                    <div class="calendar__day day">18</div>
                    <div class="calendar__day day">19</div>
                    <div class="calendar__day day">20</div>
                    <div class="calendar__day day">21</div>
                </div>
                <div class="calendar__week">
                    <div class="calendar__day day">22</div>
                    <div class="calendar__day day">23</div>
                    <div class="calendar__day day">24</div>
                    <div class="calendar__day day">25</div>
                    <div class="calendar__day day">26</div>
                    <div class="calendar__day day">27</div>
                    <div class="calendar__day day">28</div>
                </div>
                <div class="calendar__week">
                    <div class="calendar__day day">29</div>
                    <div class="calendar__day day">30</div>
                    <div class="calendar__day day">31</div>
                    <div class="calendar__day day">1</div>
                    <div class="calendar__day day">2</div>
                    <div class="calendar__day day">3</div>
                    <div class="calendar__day day">4</div>
                </div>
            </div>
            <br /> 
            <form class="d-flex">
                <button class="btn btn-outline-success button new" type="submit" id="new-transaction">+ Agendar atendimento</button>
                @*<a href="#" class="button new" id="new-transaction">+ Nova Transação</a>*@
            </form>
        </section>

        <aside class="sidebar">
            <div class="logo">OdontoTech</div>
            <div class="avatar">
                <div class="avatar__img">
                    <img src="~/images/icons/OdontoTechV2.png" alt="avatar" height="70" width="70" data-atf="1" />
                </div>
                <div class="avatar__name">
                    John Smith
                </div>

                <div class="avatar__name">
                    <a href="#" class="button new" id="new-transaction">+ Agendar atendimento</a>
                </div>

            </div>
            <nav class="menu">
                <ul>
                    <li class="nav-item">
                        <a class="menu__item menu__item--active" href="/Home/Dashboard">
                            <i class="menu__icon fa fa-home"></i>
                            <span class="menu__text">Início</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu__item" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                            <i class="menu__icon fa fa-envelope"></i>
                            <span class="menu__text">Serviços</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Home/Atendimento">Atendimentos</a></li>
                            <li><a class="dropdown-item" href="/Home/Procedimento">Procedimentos</a></li>
                            <li><a class="dropdown-item" href="/Home/TipoProcedimento">Tipo de Procedimento</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu__item" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                            <i class="menu__icon fas fa-hand-holding-usd"></i>
                            <i class="fas fa-dollar-sign"></i>
                            <span class="menu__text">Financeiro</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Home/Pagamento">Pagamento</a></li>
                            <li><a class="dropdown-item" href="/Home/TipoPagamento">Tipo de Pagamento</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu__item" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                            <i class="menu__icon fa fa-tasks"></i>
                            <span class="menu__text">Gestão</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Home/Clinica">Clínicas</a></li>
                            <li><a class="dropdown-item" href="/Home/Funcao">Funções</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu__item" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                            <i class="menu__icon fa fa-map-marker"></i>
                            <span class="menu__text">Localização</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Home/Endereco">Endereços</a></li>
                            <li><a class="dropdown-item" href="/Home/Logradouro">Logradouros</a></li>
                            <li><a class="dropdown-item" href="/Home/Bairro">Bairros</a></li>
                            <li><a class="dropdown-item" href="/Home/Cidade">Cidades</a></li>
                            <li><a class="dropdown-item" href="/Home/Estado">Estados</a></li>
                            <li><a class="dropdown-item" href="/Home/Pais">Países</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu__item" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                            <i class="menu__icon fas fa-boxes"></i>
                            <span class="menu__text">Materias</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Home/Estoque">Estoque</a></li>
                            <li><a class="dropdown-item" href="/Home/Produto">Produtos</a></li>
                            <li><a class="dropdown-item" href="/Home/TipoEmbalagem">Tipo de Embalagem</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle menu__item" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                            <i class="menu__icon fas fa-users"></i>
                            <span class="menu__text">Usuários</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/Home/Colaborador">Colaboradores</a></li>
                            <li><a class="dropdown-item" href="/Home/Paciente">Pacientes</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="menu__item" href="/Home/Index">
                            <i class="menu__icon fas fa-sign-out-alt"></i>
                            <span class="menu__text">Sair</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="copyright">copyright &copy; @DateTime.Now.Year</div>
        </aside>
    </main>

    @*@{
            PacienteBLL pacienteBll = new PacienteBLL();
            ColaboradorBLL colaboradorBLL = new ColaboradorBLL();
            AgendaBLL agendaBLL = new AgendaBLL();
            TipoProcedimentoBLL tipoProcedimentoBLL = new TipoProcedimentoBLL();

            List<Paciente> listaPaciente = pacienteBll.GetAll();
            List<Colaborador> listaColaborador = colaboradorBLL.GetAll();
            List<Agenda> listaAgenda = agendaBLL.GetAll();
            List<TipoProcedimento> tipoProcedimentos = tipoProcedimentoBLL.GetAll();
        }*@

    <div class="modal-overlay">
        <div class="modal">
            <div class="form">
                <h2>Novo Atendimento</h2>
                <form action="" onsubmit="Form.submit(event)">
                    <div class="input-group">
                        <label class="sr-only" for="description">Tipo de procedimento</label>
                        <input type="text" id="description" name="description" placeholder="Tipo de procedimento" />
                    </div>

                    <div class="input-group">
                        <label class="sr-only" for="amount">Valor</label>
                        <input type="number" step="0.01" id="amount" name="amount" placeholder="0,00" />
                        <small class="help">
                            Use o sinal - (negativo) para despesas e , (vírgula) para casas
                            decimais
                        </small>
                    </div>

                    <div class="input-group">
                        <label class="sr-only" for="date">Data</label>
                        <input type="date" id="date" name="date" />
                    </div>

                    <div class="input-group">
                        <label class="sr-only" for="time">Horário</label>
                        <input type="time" id="date" name="time" />
                    </div>

                    <div class="input-group">
                        <label class="sr-only" for="time">Dentista</label>
                        <input type="text" id="dentist" name="dentist" placeholder="Dr(a)" />
                    </div>

                    <div class="input-group actions">
                        <a href="#" class="button cancel" id="cancel-trans">Cancelar</a>
                        <button>Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://use.fontawesome.com/d09559d1bd.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script src="~/js/dashboard.js"></script>
</body>
</html>