@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Logradouro";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Logradouro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="./css/main.css">
    <link rel="stylesheet" type="text/css" href="./css/util.css">
    <!--===============================================================================================-->
</head>
<body>


    <div class="limiter">

        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form">
                    <span class="login100-form-title p-b-26">
                        Logradouro
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                        <input class="input100" type="text" name="pais">
                        <span class="focus-input100" data-placeholder="Pais"></span>
                        @* Trazer a lista de países *@
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                        <input class="input100" type="text" name="estado">
                        <span class="focus-input100" data-placeholder="Estado"></span>
                        @* Trazer a lista de estados *@
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                        <input class="input100" type="text" name="cidade">
                        <span class="focus-input100" data-placeholder="Cidade"></span>
                        @* Trazer a lista de cidades *@
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                        <input class="input100" type="text" name="bairro">
                        <span class="focus-input100" data-placeholder="Bairro"></span>
                        @* Trazer a lista de bairros *@
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Formato invalido">
                        <input class="input100" type="text" name="logradouro">
                        <span class="focus-input100" data-placeholder="Nome do logradouro"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Salvar
                            </button>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Atualizar
                            </button>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Deletar
                            </button>
                        </div>
                    </div>

                    <div class="text-center p-t-115">
                        <span class="login100-form-title p-b-26">
                            Lista de logradouros
                        </span>
                        @* Trazer a lista de logradouros com id, nome do logradouro, bairro, cidade, estado e país *@
                    </div>

                </form>
            </div>
        </div>

    </div>

    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="./js/main.js"></script>

</body>
</html>